<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link href="/common/style.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="sidebar-container">
      {{> nav}}
        <div class="contents">
          {{{body}}}
        </div>
    </div>
  </body>
</html>
