<h1>Room Details</h1>

<table>
    <thead>
        <tr>
            <th>Room Number</th>
            <th>Room Type</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        {{#each rooms}}
        <tr>
            <td>{{roomNum}}</td>
            <td>{{roomType}}</td>
            <td>{{status}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>
