<h1>Room Details</h1>

<table>
    <thead>
        <tr style="border-spacing: 15px;"> <!-- Add inline style for spacing -->
            <th style="padding: 10px;">Room Number</th>
            <th style="padding: 10px;">Room Type</th>
            <th style="padding: 10px;">Status</th>
        </tr>
    </thead>
    <tbody>
        {{#each rooms}}
        <tr>
            <td>{{this.roomNum}}</td>
            <td>{{this.roomType}}</td>
            <td>{{this.status}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>
