<div class="center">
  <form action="/admin-add-booking" method="POST" class="form-tab">
      
      <label for="firstName">Full Name:</label>
        <div class="mini-container">
            <input type="text" id="firstName" name="firstName" required placeholder="First">
            <input type="text" id="lastName" name="lastName" required placeholder="Last">
        </div><br>

      <label for="roomNum">Room Number:</label>
      <input
          type="text"
          id="roomNum"
          name="roomNum"
          placeholder="Enter room number (e.g., A101)"
          required>
      
      <label for="roomType">Room Type:</label>
      <select id="roomType" name="roomType" required>
          <option value="Deluxe Queen">Deluxe Queen</option>
          <option value="Deluxe Twin">Deluxe Twin</option>
          <option value="Premiere">Premiere</option>
          <option value="Dormitory">Dormitory</option>
      </select><br><br>

      <label for="adultPax">Number of Adults:</label>
      <input type="number" id="adultPax" name="adultPax" min="1" placeholder="Enter number of adults" required><br><br>

      <label for="kidPax">Number of Kids:</label>
      <input type="number" id="kidPax" name="kidPax" min="0" placeholder="Enter number of kids" required><br><br>

      <label for="checkIn">Check-In Date:</label>
      <input type="date" id="checkInDate" name="checkInDate" required><br><br>
      <label for="checkInTime">Check-In Time:</label>
      <input type="time" id="checkInTime" name="checkInTime" required><br><br>

      <label for="checkOut">Check-Out Date:</label>
      <input type="date" id="checkOutDate" name="checkOutDate" required><br><br>
      <label for="checkOutTime">Check-Out Time:</label>
      <input type="time" id="checkOutTime" name="checkOutTime" required><br>

      <button type="submit" style="margin-top: 20px;">Add Booking</button>
  </form>
</div>
