<!DOCTYPE html>
<html>
<head>
    <title>Register Admin</title>
    <link href="/common/style.css" rel="stylesheet" />
</head>
<body>
    <div class="center">
            {{> header}}
        <div class="form-tab">
        <h1>Register New Admin</h1>
        {{#if error}}
            <p style="color: red;">{{error}}</p>
        {{/if}}

        <form action="/admin/register" method="POST">
            <input type="text" name="username" required placeholder="Username">
            <br>
            <input type="password" name="password" required placeholder="Password">
            <br>
            <button type="submit">Register</button>
        </form>
        <p>Already have an account? <a href="/">Login here</a></p> <!-- Link back to login -->
        </div>
    </div>
</body>
</html>
