<form action="/admin/reset-password" method="POST">
    <input type="hidden" name="token" value="{{token}}">
    <label for="newPassword">Enter a new password:</label>
    <input type="password" id="newPassword" name="newPassword" required>
    <button type="submit">Reset Password</button>
</form>
{{#if error}}
    <p style="color:red;">{{error}}</p>
{{/if}}
{{#if success}}
    <p style="color:green;">{{success}}</p>
{{/if}}
