<!DOCTYPE html>
<html>
  <head>
    <title>Room Details</title>
    <link href="/common/style.css" rel="stylesheet" />
  </head>
  <body>
    <h1>Room Details</h1>
    <p>Room Number: {{roomNumber}}</p>
    <p>Room Type: {{roomType}}</p>
    <p>Status: {{status}}</p>
  </body>
</html>
