<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <link href="/common/style.css" rel="stylesheet" />
</head>
<body>
    <h1>Plaza del Norte</h1>
    <h1>{{title}}</h1>

    {{#if error}}
        <p style="color: red;">{{error}}</p>
    {{/if}}

    <form action="/admin-login" method="POST">
        <label for="username">Username:</label>
        <input type="text" name="username" required>
        <br>
        <label for="password">Password:</label>
        <input type="password" name="password" required>
        <br>
        <button type="submit">Login</button>
    </form>

    <!-- Forgot Password link added below the form -->
    <p><a href="/admin/forgot-password">Forgot Password?</a></p>

    <p>No admin account yet? <a href="/admin/register">Register here</a></p> <!-- Registration link -->
</body>
</html>
