<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <link href="/common/style.css" rel="stylesheet" />
</head>
<body>
<div class="center">
        {{> header}}

        <div class="form-tab">
        <h1>{{title}}</h1>
        {{#if error}}
            <p style="color: red;">{{error}}</p>
        {{/if}}

                <form action="/admin-login" method="POST">

                    <input type="text" name="username" required placeholder="Username">
                    <br>
                    <input type="password" name="password" required placeholder="Password">

                    <br>
                    <button type="submit">Login</button>
                </form>

                <!-- Forgot Password link added below the form -->
                <p><a href="/admin/forgot-password">Forgot Password?</a></p>

                <p>No admin account yet? <a href="/admin/register">Register here</a></p> <!-- Registration link -->
        </div>
    </div>
</body>
</html>
