{{> header title="Logged Out" }}

<div class="logout-message">
    <h1>Successfully Logged Out</h1>
    <p>You have been logged out of the admin panel.</p>
    <p><a href="/admin-login">Click here to log in again</a></p>
</div>

{{> footer }} <!-- If you have a footer partial -->
