<!DOCTYPE html>
<html>
  <head>
    <title>Admin Dashboard</title>
    <link href="/common/style.css" rel="stylesheet" />
  </head>
  <body>
    <h1>Admin Dashboard</h1>
    <ul>
      <li><a href="/admin/bookings">Bookings Report</a></li>
      <li><a href="/admin/rooms">Rooms Report</a></li>
      <li><a href="/admin/payments">Payments</a></li>
    </ul>
  </body>
</html>
