<div class="center">
  <form action="/admin/add-booking" method="POST" class="form-tab">
      
      <label for="firstName">Full Name:</label>
        <div class="mini-container">
            <input type="text" id="firstName" name="firstName" required placeholder="First">
            <input type="text" id="lastName" name="lastName" required placeholder="Last">
        </div><br>

      <label for="roomNumber">Room Number:</label>
      <input type="text" id="roomNumber" name="roomNumber" pattern="[A-Za-z]\d{3}" title="Room number should be in the format 'Letter followed by three digits'" required><br><br>

      <label for="checkIn">Check-in Date:</label>
      <input type="date" id="checkIn" name="checkIn" required><br><br>

      <label for="checkOut">Check-out Date:</label>
      <input type="date" id="checkOut" name="checkOut" required><br><br>

      <label for="adultPax">Pax:</label>
        <div class="mini-container">
          <input type="number" id="adultPax" placeholder="Adult" name="adultPax"><br><br>
          <input type="number" id="kidPax" placeholder="Kid" name="kidPax"><br><br>

        </div><br>

      <label for="roomType">Room Type:</label>
      <select id="roomType" name="roomType" required>
          <option value="Deluxe Queen">Deluxe Queen</option>
          <option value="Deluxe Twin">Deluxe Twin</option>
          <option value="Premiere">Premiere</option>
          <option value="Dormitory">Dormitory</option>
      </select><br><br>

    <!-- Number of Adults -->
    <label for="adultPax">Number of Adults:</label>
    <input type="number" id="adultPax" name="adultPax" min="1" placeholder="Enter number of adults" required>

<<<<<<< HEAD
    <button type="submit">Add Booking</button>
  </form>
</div>
=======
    <!-- Number of Kids -->
    <label for="kidPax">Number of Kids:</label>
    <input type="number" id="kidPax" name="kidPax" min="0" placeholder="Enter number of kids" required>

    <!-- Check-In Date and Time -->
    <label for="checkIn">Check-In Date:</label>
    <input type="date" id="checkInDate" name="checkInDate" required>
    <label for="checkInTime">Check-In Time:</label>
    <input type="time" id="checkInTime" name="checkInTime" required>

    <!-- Check-Out Date and Time -->
    <label for="checkOut">Check-Out Date:</label>
    <input type="date" id="checkOutDate" name="checkOutDate" required>
    <label for="checkOutTime">Check-Out Time:</label>
    <input type="time" id="checkOutTime" name="checkOutTime" required>

    <!-- Submit Button -->
    <button type="submit" style="margin-top: 20px;">Add Booking</button>
</form>
>>>>>>> 4670f9abadbb2cb35fba7793fe82d5b67cca6d17
