<!DOCTYPE html>
<html>
  <head>
    <title>Rooms Report</title>
    <link href="/common/style.css" rel="stylesheet" />
  </head>
  <body>
    <h1>Rooms Report</h1>
    <form action="/admin/rooms" method="GET">
      <label for="roomType">Room Type:</label>
      <select id="roomType" name="roomType">
        <option value="Deluxe Queen">Deluxe Queen</option>
        <option value="Deluxe Twin">Deluxe Twin</option>
        <option value="Premiere">Premiere</option>
        <option value="Dormitory">Dormitory</option>
      </select><br>

      <button type="submit">Filter</button>
    </form>
    <table>
      <thead>
        <tr>
          <th>Room Number</th>
          <th>Room Type</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        {{#each rooms}}
          <tr>
            <td>{{this.roomNumber}}</td>
            <td>{{this.roomType}}</td>
            <td>{{this.status}}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </body>
</html>
